@media only screen and (min-width: 1200px) {
	.main-title {
		font-size: 44px;
	}

	.main-title-secondary {
		font-size: 36px;
	}
}

@media only screen and (min-width: 1600px) {
	.main-title {
		font-size: 52px;
	}
}