// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.portal-banner {
	--portal-header-footer-height: calc(var(--portal-header-height) + var(--portal-footer-height));
	// min-height: 400px;
	// height: calc(100vh - var(--portal-header-footer-height));
	min-height: calc(100vh - var(--portal-header-footer-height));
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 15% 50px;
	overflow: hidden;

	@media only screen and (min-width: 1200px) {
		padding-left: 100px;
		padding-right: 100px;
		padding-left: 5%;
        padding-right: 5%;
	}

	@media only screen and (min-width: 1600px) {
		padding-left: 150px;
		padding-right: 150px;
		padding-left: 5%;
        padding-right: 5%;
	}

	@media only screen and (max-width: 991px) {
		padding: 50px 50px;
	}
}

.portal-nav {
	// gap: 2rem;
	justify-content: space-between;
	align-items: center;

	// gap: 9.4%;
	gap: 12%;

	.nav-item {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    max-width: 427px;
	    margin: 0 auto;

	    &:before {
		    content: "";
		    display: block;
		    padding-top: 100%;
		}

		.nav-link {
			padding-left: 10%;
    		padding-right: 10%;

			img {
				--scale-size-hover: 0.88;
			}
		}

		&:first-child {
			.nav-link {
				padding-left: 2%;
    			padding-right: 2%;

				img {
					--scale-size-hover: .85;

					@media only screen and (min-width: 992px) {
						transform-origin: left;
						margin-left: 13%;
					}
				}
			}
		}

		&:last-child {
			.nav-link {
				img {
					--scale-size-hover: 0.91;

					@media only screen and (min-width: 992px) {
						transform-origin: right;
						margin-right: 7%;
					}
				}
			}
		}
	}

	.nav-link {
		padding: .5rem;
		position: absolute;
	    width: 100%;
	    height: 100%;
	    inset: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;

	    img {
	    	transform: scale(1);
	    	@include transition(.3s);
	    }

	    .label-text {
	    	font-weight: 500;
	    	text-transform: uppercase;
	    	color: #fff;
	    	position: absolute;
    		bottom: 47px;
    		left: 50%;
    		transform: translateX(-50%);
    		opacity: 0;
    		@include transition(.3s);
	    }

		&:before {
			content: "";
			width: 100%;
		    height: 100%;
		    -webkit-mask-image: url(./../img/elements/nav-ellipse.svg);
		    mask-image: url(./../img/elements/nav-ellipse.svg);
		    -webkit-mask-size: 100%;
		    -webkit-mask-repeat: no-repeat;
		    -webkit-mask-position: center;
		    mask-repeat: no-repeat;
		    mask-size: 100%;
		    mask-position: center;
		    position: absolute;
		    top: 0;
		    left: 0;
		    background-color: #fff;
		    opacity: 0;
		    @include transition(.3s);
		}

		&:hover, &.active {
			&:before, .label-text {
				opacity: 1;
			}

			img {
			    transform: scale(var(--scale-size-hover));
			}
		}
	}

	@media only screen and (max-width: 991px) {
		.nav-item {
			max-width: 350px;

			+ .nav-item {
				margin-top: 30px;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.nav-item {
			max-width: 270px;
		}
	}
}

.bg-img-blur-2 {
	width: calc(100% + 30px);
	height: calc(100% + 30px);
	top: -15px;
	left: -15px;

	img {
		filter: blur(2px);

	}
}

.overlay-purple-shade, .overlay-shade-1, .overlay-shade-2, .overlay-shade-3 {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
}

.overlay-purple-shade {
	background-color: var(--bs-purple);
	opacity: .7;
}

.overlay-shade-1 {
	background: rgb(29,5,4);
	background: linear-gradient(245deg, rgba(29,5,4,1) 0%, rgba(150,56,13,.61) 100%);
	opacity: .7;
}

.overlay-shade-2 {
	background: rgb(39,8,23);
	background: linear-gradient(0deg, rgba(39,8,23,1) 0%, rgba(44,9,27,1) 100%);
	opacity: .81;
}

.overlay-shade-3 {
	background: rgb(39,8,23);
	background: linear-gradient(0deg, rgba(39,8,23,1) 0%, rgba(44,9,27,1) 100%);
	opacity: .38;
}

.nav-background-default {
	opacity: 1;
	@include transition(.5s);

	&:has(+ .nav-hover-background.active) {
		opacity: 0;
		@include transition(.5s);
	}
}

.nav-hover-background {
    position: absolute !important;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
    @include transition(.5s);

    .item {
    	opacity: 0;
    	@include transition(.5s);
    }

    &.active, .item.active {
    	opacity: 1;
    	@include transition(.5s);
    }
}